@page "/employeedetails/{id}"

@inherits EmployeeDetailsBase

@if (Emp == null || Emp.Department == null)
{
    <div class="spinner"></div>
}
else
{
<div class="row justify-content-center m-3">
    <div class="card">
        <div class="card-header">
            <h1> @Emp.FirstName @Emp.LastName </h1>
        </div>

        <div class="card-body text-center" >
            <img class="card-img-top" src="@Emp.ImagePath"/>

            <h4>@Emp.ID</h4>
            <h4>@Emp.Designation</h4>
            <h4>@Emp.Department.DepName</h4>
        </div>

        <div class="card-footer text-center">
            <a href="/" class="btn btn-primary"> Back </a>
            <a href="#" class="btn btn-primary"> Edit </a>
            <a href="#" class="btn btn-danger"> Delete </a>
        </div>
    </div>
</div>

}
